@font-face {
   font-family: "Abril Fatface";
   src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

body {
   font-family: "Abril Fatface", Arial, "Helvetica Neue", Helvetica, sans-serif;
}




button{
	font-size: 1rem;
	
	border: 2px solid var(--accent-color);
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}


/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background: black;
	color: white;

	/*	redefine a CSS variable */

}

body.darkmode button{
	color: white;
}