@font-face {
	font-family: "Abril Fatface", Arial, "Helvetica Neue", Helvetica, sans-serif;
	src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

.container-label {
	width:100%;
	align-items:center;
	display:grid;
	justify-content: start;
	grid-template-columns:250px 800px;
	grid-template-areas:"date-label title-label";
	box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
	padding:0 10px;
}

.title-label {
	font-size:18px;
	grid-area:"title-label";
	/*margin-right:120px;*/ 
}

.date-label {
	font-size:18px;
	grid-area:"date-label";
}

.container {
	width:100%;
	align-items:center;
	justify-content: start;
	box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
	padding:0 10px;
}

.dates {
	grid-area:"dates";
}

.title {
	grid-area:"title";
}

.accordian-item {
	width:100%;
	transition:0.3s;
}

.accordian-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.accordian-item.active h2 {
	color:#FBEAD0;
}

.accordian-link {
	text-decoration:none;
	width:100%;
	color:black;
	
}

.article {
	grid-template-columns:250px 800px;
	grid-template-areas:"dates title";
	display:grid;
}

.panel {
	overflow:hidden;
	opacity:0;
	max-height:0;
	position:relative;
	display:flex;
	width:auto;
	justify-content:space-between;
	transition:.5s;
	flex-direction:row;

}	

.panel.show {
	opacity:1;
	max-height:500px;
	padding:0 8px 8px;
	margin:0 0 4px;
	padding:0 0px 15px;

}

.image {
	display: block;
  max-width:100%;
  max-height:350px;
  width: auto;
  height: auto;
}

.banner {
	height:100px;
	width:200px;
	position:relative;
	float:right;
	margin-right:8px;
	background-color:#73888D;
	transition:0.6s;
	font-size:22px;
	font-weight:bold;
}

.row-item {
	display:inline-block;

}

.banner-arrow-eraser {
	position:absolute;
	bottom:0px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-bottom: 50px solid #E0AC5A;
}

.banner:hover {
	height:300px;

}

.banner-panel {
	opacity:0;
	padding:24px 8px 8px;
	transition:.3s;
	position:relative;
	display:flex;
	justify-content:start;
	width:auto;
}

.banner:hover .banner-panel {
	opacity:1;
	transition-delay:.2s;
}