

@font-face {
	font-family: 'Abril Fatface', cursive;
	src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

body {
   font-family: 'Abril Fatface', cursive;
}

.sad {
	width: 350px;
	height: 350px;
	background:#3D637D;
	position: absolute;
	top: 200px;
}

.happy {
	width: 350px;
	height: 350px;
	background:#FBB820;
	position: absolute;
	top: 200px;
	left:350px;
}

.mad {
	width: 350px;
	height: 350px;
	background:#CB331D;
	position: absolute;
	top: 200px;
	left:700px;
}

.peaceful {
	width: 350px;
	height: 350px;
	background:#C8C0C8;
	position: absolute;
	top: 700px;
	
}

.powerful {
	width: 350px;
	height: 350px;
	background:#F25C05;
	position: absolute;
	top: 700px;
	left:350px;
}

.scared {
	width: 350px;
	height: 350px;
	background:#4A4E38;
	position: absolute;
	top: 700px;
	left:700px;
}
/*h1 { font-family: "Abril Fatface"; 
font-size: 20px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
line-height: 22px; 
} 

h3 { font-family: "Abril Fatface"; 
font-size: 14px; 
font-style: normal; 
font-variant: normal; 
font-weight: bold; 
line-height: 15px; 
} 

p { font-family: "Abril Fatface"; 
font-size: 14px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
line-height: 20px; 
} 

blockquote { 
font-family: "Abril Fatface"; 
font-size: 21px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
line-height: 30px;
 } 

 pre { 
 font-family: "Abril Fatface"; 
 font-size: 13px; 
 font-style: normal; 
 font-variant: normal; 
 font-weight: 400; 
 line-height: 18px; 
}*/