

@font-face {
	font-family: 'Abril Fatface', cursive;
	src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
}

body {
   font-family: 'Abril Fatface', cursive;
}

.sad {
	width: 350px;
	height: 350px;
	background:#3D637D;
	position: absolute;
	top: 200px;
}

.happy {
	width: 350px;
	height: 350px;
	background:#FBB820;
	position: absolute;
	top: 200px;
	left:350px;
}

.mad {
	width: 350px;
	height: 350px;
	background:#CB331D;
	position: absolute;
	top: 200px;
	left:700px;
}

.peaceful {
	width: 350px;
	height: 350px;
	background:#C8C0C8;
	position: absolute;
	top: 700px;
	
}

.powerful {
	width: 350px;
	height: 350px;
	background:#F25C05;
	position: absolute;
	top: 700px;
	left:350px;
}

.scared {
	width: 350px;
	height: 350px;
	background:#4A4E38;
	position: absolute;
	top: 700px;
	left:700px;
}

button{
	font-size: 1rem;
	
	border: 2px solid var(--accent-color);
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}


/*	DARK MODE STYLES GO HERE */

body.darkmode {
	background: black;
	color: white;

	/*	redefine a CSS variable */

}

body.darkmode button{
	color: white;
}